body {
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh;
     margin: 0;
            }  
    h1 {
                text-align: center;
                display: block;
     }
     img {
        width: 400px;
        height: 400px;
        object-fit: cover;
      }
      #floating-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: green;
        color: white;
        padding: 12px 24px;
        border-radius: 50%;
        font-size: 18px;
        cursor: pointer;
      }